body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #004b27;
    padding: 30px;
    text-align: left;
}

header img.logo {
    width: 150px;
    float: left;
    margin-right: 10px; 
    margin-top: -20px;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

h1 {
    color: #004080;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1; 
    padding-bottom: 50px; 
}

footer {
    background-color: #004b27;
    ;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative; 
    bottom: 0;
}
